opencv-python
ultralytics
boxmot
scipy
numpy
PyYAML

transformers
qwen-vl-utils
torch
torchvision
pillow
pydantic
accelerate 

duckdb
kuzu
pymilvus[milvus-lite]
sentence-transformers

langgraph
langchain-core
langchain-community
langchain-ollama
python-multipart
fastapi
uvicorn
setuptools

# Development / testing
pytest
pytest-asyncio


ollama